@{
    ViewData["Title"] = "ViewProjects";
}


<!DOCTYPE html>
<html>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<body>
<h1>Projects</h1>

    <table style="width:100%">
        <tr>
            <th>ProjectId</th>
            <th>Name</th>
            <th>Category</th>
            <th>Duration</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Description</th>
            <th>Progress</th>
            <th>Notifcation</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Set Alert</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Set Alert</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Set Alert</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Set Alert</button></td>
        </tr>
    </table>
</body>
