@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome regional manager Jason Yeo. You are logged in!</h1>
    <p><p>The time on the server is @DateTime.Now</p></p>
</div>
